/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    display: flex;
    background-color: #161414;
    justify-content: center; /* Center horizontally */
    padding-top: 20px; /* Add some space at the top */
    flex-direction: column;
    align-items: center;
}   

.title-p {
    color: #ffffff;
    text-align: left; /* Align text to the left */
    gap: 20px; /* Space between the text and the line */
    padding: 5px; /* Add some padding at the top */
    align-self: flex-start; /* Align this item to the left */
    width: 100%; /* Ensure it spans the full width */
    max-width: 800px; /* Limit width for better readability */
    margin-left: 200px; /* Optional: Add some left margin for spacing */
    font-size: 2.25rem;
}
.title-gradient {
    background-color: #6830ff;
    background: linear-gradient(45deg, hsl(124, 85%, 60%), #ab8aff); /* Gradient background */
    border-radius: 10px;
    padding: 2px 5px;

}

.buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
    margin-top: 30px; /* Space between text and buttons */
}

.btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", serif;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9c9595;
}

.top-section {
    display: flex;
    margin-top: 40px; /* Space between top section and middle section */
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Optional: Add rounded corners */
    max-width: 800px; /* Limit width for better readability */
    width: 100%; /* Ensure it takes full width on smaller screens */
    text-align: center; /* Center text */
    justify-content: center;
    align-items: center;
}

.paragraph {
    color:#000000;
}