html {
    font-size: 10px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
        font-style: normal;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #b7afff;
    padding: 30px 30px 30px 30px;
}

.btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9c9595;
}

.line {
    width: 5px;
    height: 98px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 950px;
}

.backgroundOne {
    background-color: #ff9500;

}

.header {
    font-size: 25px;
    position: absolute;
    top: -10px;
    right: 970px;
}

.description {
    font-size: 25px;
    line-height: 2;
    position: absolute;
    top: 55px;
    right: 970px;
}

.bodyWords {
    font-size: 23px;
    line-height: 2;
    position: absolute;
    top: 200px;
    left: 240px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-left: 20px;
    
}

.myImage {
    position: absolute;
    top: 70px;
    right: 240px;
}

.myLinks {
    font-size: 23px;
    position: absolute;
    top: 30px;
    left: 985px;
}

