html {
    font-size: 10px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #b7afff;
    padding: 30px 30px 30px 30px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    
}