html {
    font-size: 10px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
        font-style: normal;
}

.backgroundOne {
    background-color: #ff9500;

}

.header {
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 240px;
}

.description {
    font-size: 20px;
    line-height: 2;
    position: absolute;
    top: 150px;
    left: 240px;
}

.bodyWords {
    font-size: 23px;
    line-height: 2;
    position: absolute;
    top: 200px;
    left: 240px;
}

.myImage {
    position: absolute;
    top: 70px;
    right: 240px;
}

.myLinks {
    font-size: 23px;
    position: absolute;
    bottom: 150px;
    left: 240px;
}

